@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');

* {
    font-family: JetBrains Mono, Courier, monospace;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    /* min-height: 1080px;
    min-width: 480px; */
}

p, h2, h3, a, li {
    color: #E3CCAE;
}

li {
    /* font-family: f; */
    font-size: 12px;
}

img {
    object-fit: cover;
}

/* TOP NAVIGATION BAR */

#navbar {
    display: flex;
    justify-content: space-between;
    /* https://cssgradient.io/ */
    background: linear-gradient(180deg, rgba(38, 42, 86, 1) 0%, rgba(38, 42, 86,0.7) 100%);
    padding: 8px;
    position: sticky;
    top: 0;
}

#navbar img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin: 0 8px 0 0;
    flex-grow: 0;
    flex-shrink: 0;
}

#navbar div {
    display: flex;
    align-items: center;
    flex: 1;
}

#navbar div:last-child {
    justify-content: flex-end;
}

#navbar a {
    text-decoration: none;
    text-align: left;
    padding: 8px;
}

#navbar a:hover {
    background-color: #B8621B;
}

/* HOME */

#home {
    display: flex;
    flex-direction: row;
    margin: 0 0 8px 0;
    height: calc(100vw / 16 * 9);
    max-height: calc(100vh - 64px);
    scroll-margin-top: 64px;
    background: radial-gradient(circle,rgba(38, 42, 86, 1) 20%, rgba(0, 0, 0, 1)70%, rgba(184, 98, 27,0.2) 100%);
    /* https://css-tricks.com/fixed-headers-and-jump-links-the-solution-is-scroll-margin-top/ */    
}

#home img {
    width: 40%;
}

#home div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: calc(60% - 32px);
    padding: 16px;
}

/* https://codepen.io/frankeno/pen/QWmmxQb */
#home h1{
    color: #B8621B;
    font-size: 5vw;
    border-right: 2px solid rgba(184, 98, 27,.75);
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typewriter 5s steps(50) 1s 1 normal both, 
        blinkingCursor 500ms steps(50) infinite normal;
}

@keyframes typewriter {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blinkingCursor{
    from { border-right-color: rgba(184, 98, 27,.75); }
    to { border-right-color: transparent; }
}

/* ====== PROJECTS ===== */

#projects {
    margin: 16px 0;
    scroll-margin: 80px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

#projects > h2 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    background-color: rgb(184, 98, 27);
    font-size: 36px;
    flex: 0;
}

#projects > div div {
    background: linear-gradient(black 0%, rgba(184,98,27,1) 20%, rgba(184,98,27,1) 80%,  black 100%);
    margin: 0 16px 0 0;
    padding: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projects > div {
    display: flex;
}

/* https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
@media (max-width: 600px) {
    #projects > div {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media (min-width: 601px) {
    #projects > div {
        flex-direction: row;
        flex-wrap: nowrap;
    }
}



#projects img {
    width: 100%;
    margin: 16px 0;
}

#projects h3 {
    font-size: 24px;
}

/* ===== SKILLS ===== */

#skills {
    display: flex;
    flex-direction: row;
    scroll-margin: 72px;
    padding: 8px 16px;
}

#skills h2 {
    /* writing-mode: vertical-rl; */
    /* text-orientation: mixed; */
    /* transform: rotate(0deg); */
    font-size: 24px;
    position: sticky;
    top: 0;
}

#skills > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
}

#skills > div div {
    background-color: #262A56;
    padding: 16px;;
    flex: 1;
}

#skills h3 {
    padding-bottom: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}